/* 基础样式 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f0f4f8; /* 背景色 */
  color: rgba(0, 0, 0, 0.87); /* 默认文本颜色 */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* 防止滚动条 */
  background-color: #f0f4f8; /* 背景色 */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 输入框样式 */
input, textarea, select {
  border: 1px solid #ccc;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  background-color: #ffffff; /* 输入框背景色为白色 */
  color: #333333; /* 输入框文本颜色为黑色 */
  font-size: 1em;
  width: 100%;
}

/* 输入框获取焦点时的样式 */
input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* 按钮样式 */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

button:focus,
button:focus-visible {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* 页面标题样式 */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 默认色调设置 */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}
